body {
    width:400px;
    height:460px;
    background-image: url(assests/mount.jpeg);
    background-size: cover;
    border-radius: 5px;
}
.container {
    text-align: center;
}
#tem {
    margin-top: 10px;
   
    font-size: 40px;
}
#example {
    margin-top:20px;

    font-size: 10px;
}
#name {
    font-size: 25px;
}
